# Algorithms 1: Do Something!

Today's exercise is to make a piece of code that completes a useful task, but write it as generalized as possible to be reusable for other people (including Future You)!

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Documentation

A "Docstring" is required for every function you write. Otherwise you will forget what it does and how it does it!

One very common docstring format is the "[NumPy/SciPy](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt)" standard:

Below is a working function with a valid docstring as an example:

In [3]:
def MyFunc(arg1, arg2, kwarg1=5.0):
    '''
    This is a function to calculate the number of quatloos required
    to reverse the polarity of a neutron flow.
    
    Parameters
    ----------
    arg1 : float
        How many bleeps per blorp
    arg2 : float
        The foo/bar parameter
    kwarg1 : float, optional
        The quatloo to gold-pressed-latinum exchange rate
    Returns
    -------
    float
        A specific resultification index
    '''
    
    if kwarg1 > 5.0:
        print("wow, that's a lot of quatloos...")

    # this is the classical formula we learn in grade school
    output = arg1 + arg2 * kwarg1
        
    return output

In [4]:
# how to use the function
x = MyFunc(7,8, kwarg1=9.2)

wow, that's a lot of quatloos...

In [5]:
# Check out the function's result
print(x)

80.6

In [10]:
# convert Kelvin to Fahrenheit
# YOUR FUNCTION HERE

def K2F(arg1): #arg1 is just the temperature in Kelvin

    F = (9/5)*(arg1+273.15) + 32
    return F

In [9]:
#we are using the function now
tempF = K2F(501)
print(tempF)

806.15

## Today's Algorithm

Here's the goal:

**Which constellation is a given point in?**

This is where you could find the detailed constellation boundary lines data:
http://vizier.cfa.harvard.edu/viz-bin/Cat?cat=VI%2F49
You could use this data and do the full "Ray Casting" approach, or even cheat using matpltlib functions!
http://stackoverflow.com/a/23453678

**BUT**
A simplified approach has been developed (that you should use!) from [Roman (1987)](http://cdsads.u-strasbg.fr/abs/1987PASP...99..695R)

In [11]:
# This is how to read in the coordinates and constellation names using Pandas
# (this is a cleaned up version of Table 1 from Roman (1987) I prepared for you!)

df = pd.read_csv('data/data.csv')
df

      RA_low    RA_up   DE_low name
0     0.0000  24.0000  88.0000  UMI
1     8.0000  14.5000  86.5000  UMI
2    21.0000  23.0000  86.1667  UMI
3    18.0000  21.0000  86.0000  UMI
4     0.0000   8.0000  85.0000  CEP
5     9.1667  10.6667  82.0000  CAM
6     0.0000   5.0000  80.0000  CEP
7    10.6667  14.5000  80.0000  CAM
8    17.5000  18.0000  80.0000  UMI
9    20.1667  21.0000  80.0000  DRA
10    0.0000   3.5083  77.0000  CEP
11   11.5000  13.5833  77.0000  CAM
12   16.5333  17.5000  75.0000  UMI
13   20.1667  20.6667  75.0000  CEP
14    7.9667   9.1667  73.5000  CAM
15    9.1667  11.3333  73.5000  DRA
16   13.0000  16.5333  70.0000  UMI
17    3.1000   3.4167  68.0000  CAS
18   20.4167  20.6667  67.0000  DRA
19   11.3333  12.0000  66.5000  DRA
20    0.0000   0.3333  66.0000  CEP
21   14.0000  15.6667  66.0000  UMI
22   23.5833  24.0000  66.0000  CEP
23   12.0000  13.5000  64.0000  DRA
24   13.5000  14.4167  63.0000  DRA
25   23.1667  23.5833  63.0000  CEP
26    6.1000   7.0000  62.0000  CAM
27   20.0000  20.4167  61.5000  DRA
28   20.5367  20.6000  60.9167  CEP
29    7.0000   7.9667  60.0000  CAM
..       ...      ...      ...  ...
327   6.0000   6.8333 -64.0000  PIC
328   6.8333   9.0333 -64.0000  CAR
329  11.2500  11.8333 -64.0000  CEN
330  11.8333  12.8333 -64.0000  CRU
331  12.8333  14.5333 -64.0000  CEN
332  13.5000  13.6667 -65.0000  CIR
333  16.7500  16.8333 -65.0000  ARA
334   2.1667   3.2000 -67.5000  HOR
335   3.2000   4.5833 -67.5000  RET
336  14.7500  14.9167 -67.5000  CIR
337  16.8333  17.5000 -67.5000  ARA
338  17.5000  18.0000 -67.5000  PAV
339  22.0000  23.3333 -67.5000  TUC
340   4.5833   6.5833 -70.0000  DOR
341  13.6667  14.7500 -70.0000  CIR
342  14.7500  17.0000 -70.0000  TRA
343   0.0000   1.3333 -75.0000  TUC
344   3.5000   4.5833 -75.0000  HYI
345   6.5833   9.0333 -75.0000  VOL
346   9.0333  11.2500 -75.0000  CAR
347  11.2500  13.6667 -75.0000  MUS
348  18.0000  21.3333 -75.0000  PAV
349  21.3333  23.3333 -75.0000  IND
350  23.3333  24.0000 -75.0000  TUC
351   0.7500   1.3333 -76.0000  TUC
352   0.0000   3.5000 -82.5000  HYI
353   7.6667  13.6667 -82.5000  CHA
354  13.6667  18.0000 -82.5000  APS
355   3.5000   7.6667 -85.0000  MEN
356   0.0000  24.0000 -90.0000  OCT

[357 rows x 4 columns]

In [48]:
# TESTS FOR YOUR FUNCTION!

# these coordinates SHOULD be in constellation "LYR"
ra=18.62
dec=38.78

# these should be in "APS"
ra=14.78
dec=-79.03

In [49]:
print(df)

      RA_low    RA_up   DE_low name
0     0.0000  24.0000  88.0000  UMI
1     8.0000  14.5000  86.5000  UMI
2    21.0000  23.0000  86.1667  UMI
3    18.0000  21.0000  86.0000  UMI
4     0.0000   8.0000  85.0000  CEP
5     9.1667  10.6667  82.0000  CAM
6     0.0000   5.0000  80.0000  CEP
7    10.6667  14.5000  80.0000  CAM
8    17.5000  18.0000  80.0000  UMI
9    20.1667  21.0000  80.0000  DRA
10    0.0000   3.5083  77.0000  CEP
11   11.5000  13.5833  77.0000  CAM
12   16.5333  17.5000  75.0000  UMI
13   20.1667  20.6667  75.0000  CEP
14    7.9667   9.1667  73.5000  CAM
15    9.1667  11.3333  73.5000  DRA
16   13.0000  16.5333  70.0000  UMI
17    3.1000   3.4167  68.0000  CAS
18   20.4167  20.6667  67.0000  DRA
19   11.3333  12.0000  66.5000  DRA
20    0.0000   0.3333  66.0000  CEP
21   14.0000  15.6667  66.0000  UMI
22   23.5833  24.0000  66.0000  CEP
23   12.0000  13.5000  64.0000  DRA
24   13.5000  14.4167  63.0000  DRA
25   23.1667  23.5833  63.0000  CEP
26    6.1000   7.0000  62.0000  CAM
27   20.0000  20.4167  61.5000  DRA
28   20.5367  20.6000  60.9167  CEP
29    7.0000   7.9667  60.0000  CAM
..       ...      ...      ...  ...
327   6.0000   6.8333 -64.0000  PIC
328   6.8333   9.0333 -64.0000  CAR
329  11.2500  11.8333 -64.0000  CEN
330  11.8333  12.8333 -64.0000  CRU
331  12.8333  14.5333 -64.0000  CEN
332  13.5000  13.6667 -65.0000  CIR
333  16.7500  16.8333 -65.0000  ARA
334   2.1667   3.2000 -67.5000  HOR
335   3.2000   4.5833 -67.5000  RET
336  14.7500  14.9167 -67.5000  CIR
337  16.8333  17.5000 -67.5000  ARA
338  17.5000  18.0000 -67.5000  PAV
339  22.0000  23.3333 -67.5000  TUC
340   4.5833   6.5833 -70.0000  DOR
341  13.6667  14.7500 -70.0000  CIR
342  14.7500  17.0000 -70.0000  TRA
343   0.0000   1.3333 -75.0000  TUC
344   3.5000   4.5833 -75.0000  HYI
345   6.5833   9.0333 -75.0000  VOL
346   9.0333  11.2500 -75.0000  CAR
347  11.2500  13.6667 -75.0000  MUS
348  18.0000  21.3333 -75.0000  PAV
349  21.3333  23.3333 -75.0000  IND
350  23.3333  24.0000 -75.0000  TUC
351   0.7500   1.3333 -76.0000  TUC
352   0.0000   3.5000 -82.5000  HYI
353   7.6667  13.6667 -82.5000  CHA
354  13.6667  18.0000 -82.5000  APS
355   3.5000   7.6667 -85.0000  MEN
356   0.0000  24.0000 -90.0000  OCT

[357 rows x 4 columns]

In [50]:
np.where(df["DE_low"]<=dec)  #I took everything below from Natalie Moore. Had trouble finding this "where" operation

(array([352, 353, 354, 355, 356]),)

In [51]:
name=df["name"]   #IT looks like this "where" operation can have inequalities and can go through the array 'df' 

ra=18.62
dec=38.78

#x = np.min(
x = np.where((df["DE_low"]<=dec) & (df["RA_up"]>ra) & (df["RA_low"]<=ra))[0][0]  #what is with the zeros at the end?

print(x)

105

In [52]:
df["name"].values[x]   #I didn't know about this "values" operation

'LYR'

In [54]:
def Constellation(ra, dec):   #Ok, once we understand "where" and "value" you can define a function
    x = np.where((df["DE_low"]<=dec) & (df["RA_up"]>ra) & (df["RA_low"]<=ra))[0][0]
    return df["name"].values[x]

In [55]:
whereisstar=Constellation(18.62, 38.78)

print(whereisstar)

LYR

In [56]:
whereisstar=Constellation(14.78, -79.03)

print(whereisstar)

APS